ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 24px;
}

.imgContainer-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}
